:root {
  margin: 0;
  box-sizing: border-box;
  background-color: #D7DDF4;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #d7ddf4;
  padding: 20px;
}

.orkut-logo {
  font-size: 4em; 
  font-weight: bold; 
  font-family: Arial, sans-serif; 
  background: linear-gradient(45deg, #3B5998, #00A2E8, #83B312, #FFD800, #FF5800, #E1306C, #8B9DC3); 
  -webkit-background-clip: text; 
  color: transparent; 
  text-shadow: 0px 2px 4px rgba(0,0,0,0.5); 
}

.content-header-page{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.content-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; 
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%; 
}

.orkut-img {
  width: 90%;
  max-width: 800px;
  height: auto;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%; 
}

.login {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login h3 {
  margin-bottom: 10px;
  color: #333;
}

.login h4 {
  margin-bottom: 20px;
  color: #666;
}

.login label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login input[type="email"],
.login input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container .checkbox {
  margin-right: 5px;
}

.button-login {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.button-login:hover {
  background-color: #4586a0;
}
