.content-header {
  display: flex;
  background: linear-gradient(140deg, #C3D1ED 80%, transparent 50%);
  width: 80vw;
  height: 50px;
  align-items: center;
  padding: 0 0 0 5px;
  border-radius: 20px;
}

a {
  text-decoration: none;
}