
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.content {
  background-image: url(../assets/d2a77609f5d97b9081b117c8f699bd37.jpg);
}

.page-content {
  background-image: url(../assets/fundo_chat.jpg);
}

/* body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
} */

.container {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
}

.posts-list {
  margin-top: 20px;
}

.post-item {
  background-color: #e9f1fb;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}

.post-item img {
  transition: transform 0.2s ease-in-out;
}

.post-item img:hover {
  transform: scale(1.05);
}

.flex.items-center h1 {
  margin-left: 12px;
}

.flex.items-center {
  align-items: center;
}

.flex.items-center h1 {
  margin-left: 12px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  color: red;
}
