
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.content {
  background-image: url(../assets/d2a77609f5d97b9081b117c8f699bd37.jpg);
}

.page-content {
  background-image: url(../assets/fundo_chat.jpg);
}